@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');

:root {
    --radius-primary: 25px;
    --font-size-primary: 14px;
    --font-primary: 'Montserrat', sans-serif;
    --font-secandry: 'Fraunces', serif;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: hsl(30, 38%, 92%);
    font-size: var(--font-size-primary);
    font-family: var(--font-primary);
    color: hsl(228, 12%, 48%);
}

.container {
    display: flex;
    min-height: 100vh;
    justify-items: center;
}

.details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 460px;
    margin: auto;
    background-color: hsl(0, 0%, 100%);  
    border-radius: 7px; 
    overflow: hidden;

}

.head-pro {
    text-transform: uppercase;
    letter-spacing: 3px;
    word-spacing: 12px;
    color: hsl(212, 21%, 14%);
    
}

h2 {
    font-family: var(--font-secandry);
    color: hsl(212, 21%, 14%);
}

.textFrame {
    padding: 15px;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
}

.img-pro {
    width: 240px;
}

#priceAll {
    display: flex;
    align-items: center;
}

#price {
    font-weight: bolder;
    color: green;
    font-size: x-large;
    padding-right: 10px;
    font-family: var(--font-secandry);
}

#disprice {
    text-decoration: line-through ;
}

button {
    background-color: hsl(158, 36%, 37%);
    border-radius: 7px;
    padding: 7px;
    border: none;
}
span {
    font-family: var(--font-primary);
    font-weight: 700;
    color: hsl(0, 0%, 100%);
}


.img-cart {
    padding-right: 7px;
}

